:root {
  --tui-topbar-height: 3.5rem;
}

.topbar-box {
  height: var(--tui-topbar-height);
}

.topbar {
  height: var(--tui-topbar-height);
  display: grid;
  align-items: center;
}

.topbar__container {
  display: flex;
  justify-content: space-between;
}

.topbar--on-top {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--tui-body-bg);
  border-bottom: 1px solid var(--tui-border-color);

  @media (--light-mode) {
    box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
  }

  @media (--lg) {
    padding-left: var(--tui-sidebar-width);
  }
}

.topbar--on-top .topbar__container {
  padding: 0 0.5rem;

  @media (--md) {
    padding: 0 1rem;
  }

  @media (--lg) {
    padding: 0 2rem;
  }
}

.topbar__title > h2 {
  margin-bottom: 0;
}

.topbar__actions {
  display: flex;
  justify-content: flex-end;
}
