:root {
  --tui-sidebar-width: 24rem;
  --tui-bottombar-height: 3.5rem;
}

.layout {
  min-height: 100vh;
}

.layout__drawer > .drawer__content {
  background-color: var(--tui-light);
  width: var(--tui-sidebar-width);

  @media (--lg) {
    transform: none;
    transition: none;
    z-index: 0;
  }

  @media (--lg-light-mode) {
    box-shadow: 0 100px 30px 0 rgb(82 63 105 / 8%);
  }
}

.layout__sidebar {
  height: 100%;
  display: grid;
  grid-template-columns: 4.5rem 1fr;
}

.layout__service-item {
  margin-bottom: 0.5rem;
}

.layout__service-item > a > img {
  width: 100%;
}

.layout__userbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid var(--tui-border-color);
  text-align: center;
}

.layout__service-button {
  margin-bottom: 1rem;
  display: none;

  @media (--lg) {
    display: unset;
  }
}

.layout__appbar {
  padding: 1rem 2rem;
}

.layout__appbar > h1 {
  margin-bottom: 2rem;
  color: var(--tui-gray-700);
  white-space: nowrap;
  font-weight: 300;

  @media (--md) {
    font-size: 1.4rem;
  }
}

.layout__content {
  padding: 0 0.5rem;
  padding-bottom: var(--tui-bottombar-height);

  @media (--md) {
    padding: 0 1rem;
  }

  @media (--lg) {
    padding: 0 2rem;
    padding-left: calc(var(--tui-sidebar-width) + 2rem);
  }
}

.layout__nav-title {
  color: var(--tui-gray-500);
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.layout__nav-items {
  margin-bottom: 2rem;
}

.layout__nav-item {
  padding: 0.65rem 0;
}

.layout__nav-item > a {
  display: flex;
  align-items: center;
  color: var(--tui-gray-600);
  font-size: 1.15rem;
  font-weight: 500;
}

.layout__nav-item > a:hover {
  text-decoration: none;
}

.layout__nav-item__icon {
  margin-right: 1rem;
}

.layout__nav-icon__label {
  flex-grow: 1;
}

.layout__nav-item > .layout__nav-link--active {
  color: var(--tui-primary);
}

.layout__favorite-search {
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.layout__favorite-search > input {
  width: 100%;
  margin-right: 1rem;
}

.layout__favorite-toggle--selected,
.layout__favorite-toggle:hover {
  color: var(--tui-yellow);
}

.layout__favorite-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem;
}

.layout__favorite-menu-item {
  text-align: center;
  position: relative;
}

.layout__favorite-menu-item--selected {
  color: var(--tui-yellow);
}

.layout__favorite-menu-item > button,
.layout__favorite-menu-item > button:hover {
  color: inherit;
}

.layout__favorite-menu-item > a {
  text-decoration: none;
  color: inherit;
}

.layout__favorite-menu-item img {
  height: 4rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: 0.5rem;
}

.layout__bottombar {
  position: fixed;
  bottom: 0;
  height: var(--tui-bottombar-height);
  width: 100vw;
  display: grid;
  align-items: center;
  padding: 0 0.5rem;
  background-color: var(--tui-light);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @media (--lg) {
    display: none;
  }
}

.layout__bottombar > div {
  display: flex;
  justify-content: space-between;
}
