@charset "UTF-8";

:root {
  --tui-font-sans-serif: "Roboto", sans-serif;
  --tui-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --tui-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --tui-body-font-family: var(--tui-font-sans-serif);
  --tui-body-font-size: 12px;
  --tui-body-font-weight: 400;
  --tui-body-line-height: 1.5;
  --tui-blue: #009ef6;
  --tui-indigo: #6610f2;
  --tui-purple: #6f42c1;
  --tui-pink: #d63384;
  --tui-red: #dc3545;
  --tui-orange: #fd7e14;
  --tui-yellow: #ffc107;
  --tui-green: #198754;
  --tui-teal: #20c997;
  --tui-cyan: #0dcaf0;
  --tui-gray: #7e8299;
  --tui-gray-dark: #3f4254;
  --tui-gray-100: #f5f8fa;
  --tui-gray-200: #eff2f5;
  --tui-gray-300: #e4e6ef;
  --tui-gray-400: #b5b5c3;
  --tui-gray-500: #a1a5b7;
  --tui-gray-600: #7e8299;
  --tui-gray-700: #5e6278;
  --tui-gray-800: #3f4254;
  --tui-gray-900: #181c32;
  --tui-white: #ffffff;
  --tui-primary: #04c8c8;
  --tui-secondary: #e4e6ef;
  --tui-success: #009ef7;
  --tui-info: #7239ea;
  --tui-warning: #ffc700;
  --tui-danger: #f1416c;
  --tui-dark: #181c32;
  --tui-light: #ffffff;
  --tui-body-color: #181c32;
  --tui-body-bg: #f3f6f9;
  --tui-border-color: #eff2f5;
}
@media (--lg) {
  :root {
    --tui-body-font-size: 13px;
  }
}

@media (--dark-mode) {
  :root {
    --tui-font-sans-serif: "Roboto", sans-serif;
    --tui-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --tui-gradient: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0)
    );
    --tui-body-font-family: var(--tui-font-sans-serif);
    --tui-blue: #009ef6;
    --tui-indigo: #6610f2;
    --tui-purple: #6f42c1;
    --tui-pink: #d63384;
    --tui-red: #dc3545;
    --tui-orange: #fd7e14;
    --tui-yellow: #ffc107;
    --tui-green: #198754;
    --tui-teal: #20c997;
    --tui-cyan: #0dcaf0;
    --tui-gray: #6d6d80;
    --tui-gray-dark: #cdcdde;
    --tui-gray-100: #1b1b29;
    --tui-gray-200: #2b2b40;
    --tui-gray-300: #323248;
    --tui-gray-400: #474761;
    --tui-gray-500: #565674;
    --tui-gray-600: #6d6d80;
    --tui-gray-700: #92929f;
    --tui-gray-800: #cdcdde;
    --tui-gray-900: #ffffff;
    --tui-white: #ffffff;
    --tui-primary: #0bb783;
    --tui-secondary: #323248;
    --tui-success: #3699ff;
    --tui-info: #8950fc;
    --tui-warning: #ffa800;
    --tui-danger: #f64e60;
    --tui-dark: #ffffff;
    --tui-light: #1e1e2d;
    --tui-body-color: #ffffff;
    --tui-body-bg: #151521;
    --tui-border-color: #2b2b40;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: var(--tui-body-font-size);
}
body {
  margin: 0;
  font-family: var(--tui-body-font-family);
  font-size: var(--tui-body-font-size);
  font-weight: var(--tui-body-font-weight);
  line-height: var(--tui-body-line-height);
  color: var(--tui-body-color);
  text-align: var(--tui-body-text-align);
  background-color: var(--tui-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--tui-body-color);
}
.h1,
h1 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (--lg) {
  .h1,
  h1 {
    font-size: 1.75rem;
  }
}
.h2,
h2 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (--lg) {
  .h2,
  h2 {
    font-size: 1.5rem;
  }
}
.h3,
h3 {
  font-size: calc(1.26rem + 0.12vw);
}
@media (--lg) {
  .h3,
  h3 {
    font-size: 1.35rem;
  }
}
.h4,
h4 {
  font-size: 1.25rem;
}
.h5,
h5 {
  font-size: 1.15rem;
}
.h6,
h6 {
  font-size: 1.075rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[data-bs-original-title],
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
ol {
  padding-left: 2rem;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: 600;
}
.small,
small {
  font-size: 0.875em;
}
.mark,
mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #04c8c8;
  text-decoration: none;
}
a:hover {
  color: #037d7d;
  text-decoration: underline;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
code,
kbd,
pre,
samp {
  font-family: var(--tui-font-monospace);
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: 0.875em;
  color: #b93993;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #181c32;
  border-radius: 0.275rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 500;
}
figure {
  margin: 0 0 1rem;
}
img,
svg {
  vertical-align: middle;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #a1a5b7;
  text-align: left;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
[list]::-webkit-calendar-picker-indicator {
  display: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (--xl) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
iframe {
  border: 0;
}
summary {
  display: list-item;
  cursor: pointer;
}
progress {
  vertical-align: baseline;
}
[hidden] {
  display: none !important;
}

.resize-animation-stopper * {
  transition: none!important;
  animation: none!important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tui-gray-600) transparent;
}

*::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.on-scrollbar::-webkit-scrollbar {
  width: 6px !important;
  background-color: transparent;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--tui-gray-600);
}
