:root {
  --tui-drawer-width: 24rem;
  --tui-drawer-height: 16rem;
}

.drawer__content {
  display: inline-block;
  position: fixed;
  z-index: 1000;
  background-color: var(--tui-light);
  transition: transform 0.3s ease-in-out;
}

.drawer--left > .drawer__content {
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--tui-drawer-width);
  transform: translateX(-100%);
}

.drawer--right > .drawer__content {
  top: 0;
  right: 0;
  height: 100vh;
  width: var(--tui-drawer-width);
  transform: translateX(100%);
}

.drawer--top > .drawer__content {
  top: 0;
  left: 0;
  height: var(--tui-drawer-height);
  width: 100vw;
  transform: translateY(-100%);
}
.drawer--bottom > .drawer__content {
  bottom: 0;
  left: 0;
  height: var(--tui-drawer-height);
  width: 100vw;
  transform: translateY(100%);
}

@media (--md) {
  .drawer--md-left > .drawer__content {
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    height: 100vh;
    width: var(--tui-drawer-width);
    transform: translateX(-100%);
  }

  .drawer--md-right > .drawer__content {
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    height: 100vh;
    width: var(--tui-drawer-width);
    transform: translateX(100%);
  }

  .drawer--md-top > .drawer__content {
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    height: var(--tui-drawer-height);
    width: 100vw;
    transform: translateY(-100%);
  }

  .drawer--md-bottom > .drawer__content {
    bottom: 0;
    left: 0;
    top: unset;
    right: unset;
    height: var(--tui-drawer-height);
    width: 100vw;
    transform: translateY(100%);
  }
}

@media (--lg) {
  .drawer--lg-left > .drawer__content {
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    height: 100vh;
    width: var(--tui-drawer-width);
    transform: translateX(-100%);
  }

  .drawer--lg-right > .drawer__content {
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    height: 100vh;
    width: var(--tui-drawer-width);
    transform: translateX(100%);
  }

  .drawer--lg-top > .drawer__content {
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    height: var(--tui-drawer-height);
    width: 100vw;
    transform: translateY(-100%);
  }

  .drawer--lg-bottom > .drawer__content {
    bottom: 0;
    left: 0;
    top: unset;
    right: unset;
    height: var(--tui-drawer-height);
    width: 100vw;
    transform: translateY(100%);
  }
}

.drawer--open > .drawer__content {
  transform: none;

  @media (--light-mode) {
    box-shadow: 50px 200px 80px 50px rgb(82 63 105 / 8%);
  }
}

.drawer__overlay {
  position: fixed;
  display: none;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

.drawer--open > .drawer__overlay {
  display: block;
}
