.icons > h2 {
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.icons > div {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 36px);
  margin-bottom: 5rem;
}

.icons > div > span {
  cursor: pointer;
}

.icons > div > span > svg {
  height: 3rem;
  width: 3rem;
}
